{% extends "base.html" %}
{% load static %}

{% block content %}
<form  method="POST">
	{% csrf_token%}
	<h1>Eliminar Tutor</h1><br>
	<hr style="background-color:lightblue; width: 320px; margin-left: 0px;margin-top:-20px; height: 3px;"><br>



	<div class="card mb-3" style="max-width: 540px;">
		<div class="row no-gutters">
		  <div class="col-md-4">
			<img src="{%static 'user.png'%}"style="width: 100%; margin-top:40px;">
		  </div>
		  <div class="col-md-8">
			<div class="card-body">
			  <h5 class="card-title">{{user.first_name}} {{user.last_name}} </h5>
			  <p class="card-text">{{tutor.rut}} <br><h6 class="slert alert-warning" style="max-width: 580px;" >PRECAUCIÓN!! <br>Al Eliminar un Tutor tambíen se eliminará a su Paciente correspondiente</h5>
			  <p class="card-text"><small class="text-muted"> <h3 class="card-title">¿Desea Eliminar al Tutor?</h3>
				<input class="btn btn-danger" type="submit" value="Eliminar">
				<a href='{%  url "tutor_detalle" id=idtut %}' class="btn btn-info" role="button">Volver</a></p>
			</div>
		  </div>
		</div>
	  </div>


	</form>  




























	
  

   


{% endblock %}