<!--DOCTYPE html -->
{%  extends "base.html" %}

<title> {%block head_title %} {{usr.first_name}} {{usr.last_name}} | {{block.super}} {%endblock head_title%} </title>


{%block content%}

<div class="card text-center">
  <div class="card-header">
    <h1>Consulta Resuelta </h1>
  </div>
  <div class="card-body">
    <h2 class="card-title"><b> <u>{{consulta.titulo}}</u></b></h2> </br>
    <h3 class="card-title"><b>Mensaje</b> </br></br>  {{ consulta.mensaje }}</h3> </br>
    <h3 class="card-title"><b>Resolución</b></br></br> {{ consulta.respuesta }}</h3></br>

    
    <p class="card-text">Consulta realizada por {{usr.first_name}} {{usr.last_name}} </p>
    <p class="card-text">{{ consulta.timestamp }}</p>

    <a href='{% url "listconsulta" %}' class="btn btn-info" role="button">Volver</a>


{%endblock content%}

