{% extends "base_tutor.html" %}


{% block content %}

<div class="container" style="margin-top: 20px;">
	<h1>Datos de tutor</h1>


<div class="col-sm-6">
	<form method="POST">
	{% csrf_token%}
	
	<div>
		<label for=id_perfil></label>
		<input type="hidden" name="id_perfil" id="id_perfil" value="{{perfil}}">
	</div>
	<div>
		<label for="rut"></label>
		<input type="hidden" name="rut" id="rut" value="{{tutor.rut}}">
	</div>
	<div >
		<label>Comuna:</label>
		{{form1.comuna}}
	</div>
	<div>
		<label>Domicilio</label>
		{{form1.domicilio}}
	</div>
	<div>
		<label>N° Domicilio:</label>
		{{form1.num_domicilio}}
	</div>
	<div>
		<label for="edad"></label>
		<input type="hidden" name="edad" id="edad" value="{{tutor.edad}}">
	</div>
	<div>
		<label for="f_nacimiento"></label>
		<input type="hidden" name="f_nacimiento" id="f_nacimiento" value="{{tutor.f_nacimiento}}">
	</div>
	
	<br>
	
	<button class="btn btn-danger" type="submit">guardar</button>
	
</form>
</div>
</div>



{% endblock %}

