<!--DOCTYPE html -->
{%  extends "base.html" %}

{%  block content %}



<script src="https://www.google-analytics.com/cx/api.js"></script>

    <script src="https://m.servedby-buysellads.com/monetization.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    
    <script src="https://embed.typeform.com/embed.js"></script>

<style type="text/css">

</style>


<div class="row">
    
 <div class="cuadro" style="padding: 20px; width: 48%; height: 450px; margin-right: 10px; overflow: hidden;background: white;border-radius: 3px;
        margin-top: 20px;">
  <h2 class="w3-text-grey w3-padding-16"style="position: absolute; z-index: 100;"><i  class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal" ></i>Equipo {{group}}</h2>
  
  
        
        <div id="myspeedChart" class="chart--container" style=" width: 70%; height: 90%; margin-left: 70px; margin-top: -10px;"></div>

        <div class="row" style=" position: absolute; z-index: 100; margin-top: -0px; " data-toggle="tooltip" data-placement="bottom" title="tiempo por tipo de paciente visitado"><h4>{{horas}} horas y {{minutos}} minutos</h4></div> 
        

      </div>





 <div class="cuadro" style="padding: 20px; width: 48%; height: 450px; margin-right: 10px; overflow: hidden;background: white;border-radius: 3px;
        margin-top: 20px;">
  
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Datos generales</h2>
       

           
                
                  

                    <div class="row" style="">
                          <canvas id="myPieChart2"  style=" width: 80%;"></canvas>
                    <div style="margin-right: 50px; margin-left: 200px; margin-top: 10px;"data-toggle="tooltip" data-placement="bottom" title="Total visitas del día">
                        <i class="fas fa-square fa-fw w3-margin-right w3-text-teal"style="font-size: 20px;" ></i>
                        {{totalvisitas}}
                    </div>
                    <div style="margin-top: 10px;data-toggle="tooltip" data-placement="bottom" title="Visitas Realizadas"">
                        <i class="fas fa-check-square fa-fw w3-margin-right w3-text-teal"style="font-size: 20px;"></i>
                         {{realizadas}}</div>
 
                    </div>                   
           
           
         
      

           
      </div>

 <div class="cuadro" style="padding: 20px; width: 48%; height: 500px; margin-right: 10px; overflow: hidden;background: white;border-radius: 3px;
        margin-top: 20px;">
  
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Listado de pacientes</h2>
  
       <table style="margin-left: 70px;">
           <tbody>
                {% for v in vx %}

        {%if v.fecha == hoy%} 

            {% if v.equipo == group%}

                {%if v.status == 1%}

                    {% for p in px %}

                        {% if v.id_paciente == p.id %}

                            <tr>
                                <td>Visita {{v.id}}</td>
                                <td style="width: 200px;"> {{p.nombre}} {{p.apellido1}} {{p.apellido2}} </td>
                                
                                <td>
                                    <span class=" badge badge-success">Realizada</span>

                                </td>    
                            </tr>
                             

                            

 
                        {%endif%}


                    {% endfor %}
                

                {%endif%}

            {%endif%}



        {%endif%}
        {% endfor %}


        {% for v in vx %}
        {%if v.fecha == hoy%} 

            {% if v.equipo == group%}

                {%if v.status == 0%}

                    {% for p in px %}

                        {% if v.id_paciente == p.id %}

                            <tr >
                                <td>Visita {{v.id}}</td>
                                <td> {{p.nombre}} {{p.apellido1}} {{p.apellido2}} </td>
                                
                                <td>
                                    <span class=" badge badge-dark">Pendiente</span>

                                </td>    
                            </tr>
                            

                            


                        {%endif%}


                    {% endfor %}
                

                {%endif%}

            {%endif%}

        {%endif%}
        {% endfor %}
           </tbody>

       </table>           
      </div>

 <div class="cuadro" style="padding: 20px; width: 48%; height: 500px; margin-right: 10px; overflow: hidden; background: white;border-radius: 3px;
        margin-top: 20px;">
  

<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Personal del equipo {{group}} </h2>

   <table style="margin-left: 70px;">
       <tbody>
            {% for g in user %}

       <tr>
           <td style="width: 200px;"> {{g.first_name}} {{g.last_name}}</td>
       

        {%for i in perfil%}

            {%if g.id == i.id%}

                <td>
                    {{i.tel}}
                </td>

            {%endif%}

        {%endfor%}

        </tr>

    {% endfor %}
  
       </tbody>
   </table>
  
           
      </div>

</div>








<script type="text/javascript">

  var total={{totalvisitas|safe}}
  var realizadas={{realizadas|safe}}

  var valor= Math.round((realizadas*100)/total,2)

  let chartConfig = {
        type: 'gauge',
        globals: {
        fontSize: '10px'
        },
        plot: {
        valueBox: {
        text: '%v', // default
        fontSize: '40px',
        placement: 'center',
        rules: [
                {
                text: '%v',
                rule: '%v >= 80'
                },
                {
                text: '%v',
                rule: '%v < 80 && %v > 60'
                },
                {
                text: '%v',
                rule: '%v < 60 && %v > 40'
                },
                {
                text: '%v',
                rule: '%v <  40'
                }
        ]
        },
        size: '100%'
        },
        plotarea: {
        width:'290px',
        marginTop: '70px',
        marginLeft:'20px'
        },
        scaleR: {
        aperture: 180,
        center: {
        visible: false
        },
        item: {
        offsetR: 0,
        rules: [
                {
                offsetX: '15px',
                rule: '%i == 9'
                }
        ]
        },
        labels: ['0', '10', '20', '30', '40', '50', '60', '70', '80', '90', '100'],
        maxValue: 100,
        minValue: 0,
        ring: {
        rules: [
                {
                backgroundColor: 'red',
                rule: '%v >= 0 && %v <= 20'
                },
                {
                backgroundColor: 'orange',
                rule: '%v >= 20 && %v <= 40'
                },
                {
                backgroundColor: 'yellow',
                rule: '%v >= 40 && %v <= 80'
                },
                {
                backgroundColor: 'green',
                rule: '%v >= 80'
                }
        ],
        size: '40px'
        },
        step: 10,
        tick: {
        visible: false
        }
        },
        tooltip: {
        borderRadius: '5px'
        },
        refresh: {
        type: 'feed',
        url: 'feed()',
        interval: 1500,
        resetTimeout: 1000,
        transport: 'js'
        },
        series: [
        {
        values: [valor], // starting value
        backgroundColor: 'black',
        indicator: [10, 10, 10, 10, 0.75],
        animation: {
                effect: 'ANIMATION_EXPAND_VERTICAL',
                method: 'ANIMATION_BACK_EASE_OUT',
                sequence: 'null',
                speed: 1500
        }
        }
        ]
        };
         zingchart.render({
        id: 'myspeedChart',
        data: chartConfig
        });


var chrt2=document.getElementById('myPieChart2').getContext('2d');

  var total={{totalvisitas|safe}}
  var realizadas={{realizadas|safe}}
  


var myChart= new Chart(chrt2,{
 "type":"pie",
 "data":{
   "labels":["Visitas Restantes","Visitas Realizadas"],
   "datasets":[{"label":"My First Dataset",
   "data":[{{restantes|safe}},{{realizadas|safe}}],
   "backgroundColor":["rgb(179, 200, 198)",
   "rgb(0, 150, 136)",
   ]
  }]
},
"options":{

                          responsive:true,
                          maintainAspectRatio: true,
}
}



);


  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>


{%  endblock content %}