{% extends "base.html" %}


{% block content %}

<h1>Edición de Contacto: <h1>

	<hr style="background-color:lightblue; width: 320px; margin-left: 0px; height: 3px;">

<div class="col-sm-5">
	<form method="POST">
	{% csrf_token%}

	<div>
		<label for="tel">Telefono Contacto con UHD:</label>
		<input type="text"class="form-control" name="tel" id="tel" value="{{llamar.tel}}">

	</div>
	<br>
	<div>
		<label for="correo">Correo:</label>
		<input type="email" class="form-control" name="correo" id="correo"  value="{{llamar.correo}}">
	</div><br>
	<div>
		<label for="texto_explicativo">Texto Explicatvo:</label>
		<input type="textarea" class="form-control" name="texto_explicativo" id="texto_explicativo" value="{{llamar.texto_explicativo}}">
	</div><br><br>
	
	
	<button  class="btn btn-info" type="submit">guardar</button>
	
</form>
</div>


{% endblock %}
